/* Style the form */
form {
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    margin: 20px auto;
    padding: 45px;
    width: 90%;
}
/* Style text area */
form textarea {
    width: 100%;
    height: 150px;
    border:1px solid rgba(151, 150, 150, 0.8);
    border-radius: 10px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(151, 150, 150, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
}
/* Style the submit and reset button */ 
input[type=submit], input[type=reset] {
    width: 100%;
    background-color: #4b4c4d;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
/* hover when mouse hover */
input[type=submit]:hover, input[type=reset]:hover {
    filter: brightness(125%);
}

input[type=submit]:focus, input[type=reset]:focus{
    filter: brightness(125%);
}

table {
    border-collapse: collapse;
    margin: 0 auto 8px auto;
    padding: 8px;
    width: 85%;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333232;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    form {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    form {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    form {
        width: 45%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    form {
        width: 30%;
    }
}